.overlay {
    background: rgba(0, 0, 0, 0.3);
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
}

.modal {
    background: #fff;
    padding: 15px;
    position: relative;
}

.close {
    color: #fff;
    cursor: pointer;
    font-size: 30px;
    position: absolute;
    font-family: sans-serif;
    top: 0;
    right: 0;
    transform: translateX(100%);
}